<div class="container">
  <a name="top"></a>
  <div class="row align-items-center col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="img-border">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/M5qv6BaGi70" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>      
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <a name="aboutUs"></a>
      <h2 class="h2 mb-3">Sobre Nosotros</h2>
      <p class="mb-4">Somos un grupo de cuatro estudiantes que desde hace un tiempo hacemos instalación de equipos térmico solares, y desde el año pasado iniciamos este costado solidario después de aprender cómo se hacen los termotanques solares con materiales reutilizados. Al principio resultó un poco duro hasta que le agarramos más la mano y nos metimos más, día a día, en los ámbitos de plomería, herrería y electricidad hasta profesionalizarnos.</p>
      <p class="mb-4">Este método de calefacción de agua sanitaria por medios renovables fue originalmente ideado por el ingeniero mecánico brasileño José Alano quien lo dejó con libre patente para que cualquier organización o persona pueda acceder a la información de armado del mismo. Fuimos a Buenos Aires a aprender con los chicos de Sumando Energías y la idea era replicar el proyecto acá en Córdoba porque nos había encantado lo que hacían.</p>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h3>La implementación de las energías renovables puede estar al alcance de todos</h3>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">Sumate</button>
    </div>
    
  </div>
</div>